<?xml version="1.0"?>
<config>
    <modules>
        <Mey_AfterImport>
            <version>0.1.0</version>
        </Mey_AfterImport>
    </modules>
    <global>
        <models>
            <mey_afterimport>
                <class>Mey_AfterImport_Model</class>
            </mey_afterimport>
        </models>
    </global>
    <frontend>
        <routers>
            <import>
                <use>standard</use>
                <args>
                    <module>Mey_AfterImport</module>
                    <frontName>import</frontName>
                </args>
            </import>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <mey_afterimport>
                <schedule>
                    <cron_expr/>
                </schedule>
                <run>
                    <model>mey_afterimport/observer::clearAfterImport</model>
                </run>
            </mey_afterimport>
        </jobs>
    </crontab>
    <default>
        <fg_options>
            <messages>
                <after_import_key/>
            </messages>
        </fg_options>
    </default>
</config>
