<?xml version="1.0"?>
<config>
    <sections>
        <fg_options>
            <groups>
                <messages>
                    <fields>
                        <after_import_key translate="label">
                            <label>key parameter for triggering after import processing</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </after_import_key>
                    </fields>
                </messages>
            </groups>
        </fg_options>
    </sections>
</config>
