<?xml version="1.0"?>
<config>
    <modules>
        <Fortuneglobe_LandingpagesAA>
            <version>0.1.0</version>
        </Fortuneglobe_LandingpagesAA>
    </modules>
    <frontend>
        <routers>
            <landingpagesaa>
                <use>standard</use>
                <args>
                    <module>Fortuneglobe_LandingpagesAA</module>
                    <frontName>landingpagesaa</frontName>
                </args>
            </landingpagesaa>
        </routers>
        <layout>
            <updates>
                <landingpagesaa>
                    <file>landingpagesaa.xml</file>
                </landingpagesaa>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <landingpagesaa>
                <class>Fortuneglobe_LandingpagesAA_Block</class>
            </landingpagesaa>
        </blocks>
        <helpers>
            <landingpagesaa>
                <class>Fortuneglobe_LandingpagesAA_Helper</class>
            </landingpagesaa>
            <catalin_seo>
                <rewrite>
                    <data>Fortuneglobe_LandingpagesAA_Helper_Filter</data>
                </rewrite>
            </catalin_seo>
        </helpers>
        <models>
            <landingpagesaa>
                <class>Fortuneglobe_LandingpagesAA_Model</class>
                <resourceModel>landingpagesaa_resource_mysql4</resourceModel>
            </landingpagesaa>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <landingpagesaa>
                        <type>singleton</type>
                        <class>Fortuneglobe_LandingpagesAA_Controller_Router</class>
                        <method>addSelectedProductRouter</method>
                    </landingpagesaa>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>
