.rootwrapper{ width:100%; }
.root-title{ font-size: 1.4em; padding:8px 0px; display: block; border-bottom:1px solid #949494; margin-bottom:10px; font-weight:bold;}

.root-openicon{ background:url(../images/root/rootsitemap/minus-icon.png) no-repeat 0px 0px; display:inline-block; height:14px; width:14px;cursor:pointer;}
.root-closeicon{ background:url(../images/root/rootsitemap/plus-icon.png) no-repeat 0px 0px;; display:inline-block; height:14px; width:14px;cursor:pointer;}
.noliststyle { background:url(../images/root/rootsitemap/nolist.png) no-repeat 0px 0px;; display:inline-block; height:14px; width:14px;cursor:pointer; }


.root-level0 { width:100%; float:left; margin:0px; padding:0px;}

.root-level1 { width:100%; float:left; margin:0px; padding:0px;}

.root-level1 li { width:100%; float:left; line-height:22px; padding:0px; border-bottom:1px solid #E3E3E3;}
.root-level1 li a { font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333; text-decoration:none; line-height:30px;  margin-left:10px;}
.root-level1 li a:hover {color:#0e5d90; text-decoration: underline;}

.sitepages {float: left; width: 47%; margin-left:3%;}
.categories {float: left; width: 47%; margin-right:3%;}

.categories ul{display:none;}
.categories ul.root-level1{display:block;}

.root-level2 {width:100%; float:left; margin:0px; padding:0px;}
.root-level2 li { width:100%; float:left; line-height:22px; padding-left:26px; border-bottom:none;}
.root-level2 li a { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333; text-decoration:none; line-height:26px;  margin-left:6px;}
.root-level2 li a:hover {color:#0e5d90; text-decoration: underline;}

.root-level3 {width:100%; float:left; margin:0px; padding:0px;}
.root-level3 li { width:100%; float:left; line-height:22px; padding-left:16px; border-bottom:none;}
.root-level3 li a { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333; text-decoration:none; line-height:26px;  margin-left:6px;}
.root-level2 li a:hover {color:#0e5d90; text-decoration: underline;}



@media only screen and (min-width: 200px) and (max-width:500px) {

.sitepages {float: left; width: 100% !important; margin:0px !important;}
.categories {float: left; width: 100% !important; margin:0px !important;}
 
}
/*-----------------------------------------------------------------------------------------*/

@media only screen and (min-width:501px) and (max-width:767px) {

.sitepages {float: left; width: 100% !important; margin:0px !important;}
.categories {float: left; width: 100% !important; margin:0px !important;}

}
/*-----------------------------------------------------------------------------------------*/


@media only screen and (min-width:768px) and (max-width:900px) {


}
/*-----------------------------------------------------------------------------------------*/



@media only screen and (min-width:901px) and (max-width:1023px) {



}
/*-----------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------*/

@media only screen and (min-width:1024px) and (max-width:1200px) {


}
/*-----------------------------------------------------------------------------------------*/








