<?xml version="1.0"?>
<config>
    <modules>
        <Mey_B2B>
            <version>0.1.6</version>
        </Mey_B2B>
    </modules>
    <global>
        <models>
            <mey_b2b>
                <class>Mey_B2B_Model</class>
                <resourceModel>mey_b2b_resource</resourceModel>
            </mey_b2b>
            <mey_b2b_resource>
                <class>Mey_B2B_Model_Resource</class>
            </mey_b2b_resource>
            <sales>
                <rewrite>
                    <quote>Mey_B2B_Model_Sales_Quote</quote>
                    <order>Mey_B2B_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <mey_b2b>
                <class>Mey_B2B_Block</class>
            </mey_b2b>
            <catalog>
                <rewrite>
                    <product_view>Mey_B2B_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
            <customer>
                <rewrite>
                    <form_login>Mey_B2B_Block_Customer_Form_Login</form_login>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <mey_b2b>
                <class>Mey_B2B_Helper</class>
            </mey_b2b>
        </helpers>
        <resources>
            <mey_b2b_setup>
                <setup>
                    <module>Mey_B2B</module>
                </setup>
            </mey_b2b_setup>
        </resources>
        <template>
            <email>
                <mey_b2b_email_b2b_approved_email_template translate="label" module="mey_b2b">
                    <label>Mey B2B Customer Approved</label>
                    <file>mey_b2b_customer_approved.html</file>
                    <type>html</type>
                </mey_b2b_email_b2b_approved_email_template>
                <mey_b2b_email_b2b_disapproved_email_template translate="label" module="mey_b2b">
                    <label>Mey B2B Customer Disapproved</label>
                    <file>mey_b2b_customer_disapproved.html</file>
                    <type>html</type>
                </mey_b2b_email_b2b_disapproved_email_template>
                <mey_b2b_email_registration_email_template translate="label" module="mey_b2b">
                    <label>Mey B2B Registration</label>
                    <file>mey_b2b_registration.html</file>
                    <type>html</type>
                </mey_b2b_email_registration_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <mey_b2b>
                    <files>
                        <default>Mey_B2B.csv</default>
                    </files>
                </mey_b2b>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <mey_b2b>
                    <files>
                        <default>Mey_B2B.csv</default>
                    </files>
                </mey_b2b>
            </modules>
        </translate>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Mey_B2B before="MageB2B_Sublogin">Mey_B2B</Mey_B2B>
                    </modules>
                </args>
            </customer>
            <b2b>
                <use>standard</use>
                <args>
                    <frontName>b2b</frontName>
                    <module>Mey_B2B</module>
                </args>
            </b2b>
        </routers>
        <layout>
            <updates>
                <mey_b2b>
                    <file>mey_b2b.xml</file>
                </mey_b2b>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <b2b_controller_action_predispatch>
                        <class>mey_b2b/observer</class>
                        <method>checkForLogin</method>
                    </b2b_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <sales_quote_save_before>
                <observers>
                    <mey_b2b>
                        <type>singleton</type>
                        <class>mey_b2b/observer</class>
                        <method>setPaymentAndShippingMethods</method>
                    </mey_b2b>
                </observers>
            </sales_quote_save_before>
            <sales_new_order_email_save_before>
                <observers>
                    <mey_b2b>
                        <type>singleton</type>
                        <class>mey_b2b/observer</class>
                        <method>addBccToSaleEmail</method>
                    </mey_b2b>
                </observers>
            </sales_new_order_email_save_before>
        </events>
    </frontend>
    <default>
        <mey_b2b>
            <general>
                <website_id><![CDATA[]]></website_id>
            </general>
            <email>
                <sales_new_order_bcc><![CDATA[service@meyb2b.com]]></sales_new_order_bcc>
                <registration_recipient_email><![CDATA[service@meyb2b.com]]></registration_recipient_email>
                <registration_sender_email_identity>general</registration_sender_email_identity>
                <registration_email_template>mey_b2b_email_registration_email_template</registration_email_template>
                <b2b_approved_email_template>mey_b2b_email_b2b_approved_email_template</b2b_approved_email_template>
                <b2b_disapproved_email_template>mey_b2b_email_b2b_disapproved_email_template</b2b_disapproved_email_template>
            </email>
            <import>
                <ftp_hostname>webmaster.idnt.net</ftp_hostname>
                <ftp_port>21</ftp_port>
                <ftp_username>codekunst</ftp_username>
                <ftp_password><![CDATA[no53C9WrQ69i4u]]></ftp_password>
                <ftp_rootpath>/Mey_B2B_Shop</ftp_rootpath>
                <ftp_folder_accounts>B2B_accounts</ftp_folder_accounts>
                <ftp_folder_active_pricelists>B2B_active_pricelists</ftp_folder_active_pricelists>
            </import>
        </mey_b2b>
    </default>
    <crontab>
        <jobs>
            <mey_b2b_import>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mey_b2b/import::importAccountsAndPriceLists</model>
                </run>
            </mey_b2b_import>
        </jobs>
    </crontab>
</config>
