<?xml version="1.0"?>
<config>
    <modules>
        <Mey_Sitemap>
            <version>0.1.0</version>
        </Mey_Sitemap>
    </modules>
    <global>
        <helpers>
            <mey_sitemap>
                <class>Mey_Sitemap_Helper</class>
            </mey_sitemap>
            <catalog>
                <rewrite>
                    <product_url_rewrite>Mey_Sitemap_Helper_Catalog_Product_Url_Rewrite</product_url_rewrite>
                </rewrite>
            </catalog>
        </helpers>
    </global>
</config>
