<?xml version="1.0"?>
<config>
    <modules>
        <Codekunst_Looks>
            <version>0.1.5</version>
        </Codekunst_Looks>
    </modules>
    <global>
        <models>
            <codekunst_looks>
                <class>Codekunst_Looks_Model</class>
            </codekunst_looks>
        </models>
        <blocks>
            <codekunst_looks>
                <class>Codekunst_Looks_Block</class>
            </codekunst_looks>
        </blocks>
        <helpers>
            <codekunst_looks>
                <class>Codekunst_Looks_Helper</class>
            </codekunst_looks>
        </helpers>
        <resources>
            <codekunst_looks_setup>
                <setup>
                    <module>Codekunst_Looks</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </codekunst_looks_setup>
        </resources>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <codekunst_looks>
                        <class>codekunst_looks/observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </codekunst_looks>
                </observers>
            </catalog_product_collection_load_before>
            <controller_action_layout_load_before>
                <observers>
                    <codekunst_looks>
                        <class>codekunst_looks/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </codekunst_looks>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <bg_look_image/>
                </attributes>
            </collection>
        </product>
        <layout>
            <updates>
                <codekunst_looks>
                    <file>codekunst_looks.xml</file>
                </codekunst_looks>
            </updates>
        </layout>
        <translate>
            <modules>
                <Codekunst_Looks>
                    <files>
                        <default>Codekunst_Looks.csv</default>
                    </files>
                </Codekunst_Looks>
            </modules>
        </translate>
        <routers>
            <codekunst_looks>
                <use>standard</use>
                <args>
                    <module>Codekunst_Looks</module>
                    <frontName>looks</frontName>
                </args>
            </codekunst_looks>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Codekunst_Looks>
                    <files>
                        <default>Codekunst_Looks.csv</default>
                    </files>
                </Codekunst_Looks>
            </modules>
        </translate>
    </adminhtml>
</config>
