<?xml version="1.0"?>
<config>
    <modules>
        <Codekunst_Payglobe>
            <version>1.1.0</version>
        </Codekunst_Payglobe>
    </modules>
    <global>
        <models>
            <codekunst_payglobe>
                <class>Codekunst_Payglobe_Model</class>
            </codekunst_payglobe>
        </models>
        <helpers>
            <codekunst_payglobe>
                <class>Codekunst_Payglobe_Helper</class>
            </codekunst_payglobe>
        </helpers>
        <blocks>
            <codekunst_payglobe>
                <class>Codekunst_Payglobe_Block</class>
            </codekunst_payglobe>
        </blocks>
        <resources>
            <codekunst_payglobe_setup>
                <setup>
                    <module>Codekunst_Payglobe</module>
                </setup>
            </codekunst_payglobe_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <dob>
                    <to_order_payment>*</to_order_payment>
                </dob>
            </sales_convert_quote_payment>
        </fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <codekunst_payglobe>
                        <class>codekunst_payglobe/api_authorization_cache</class>
                        <type>singleton</type>
                        <method>cleanCache</method>
                    </codekunst_payglobe>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <codekunst_payglobe>
                    <files>
                        <default>Codekunst_Payglobe.csv</default>
                    </files>
                </codekunst_payglobe>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <codekunst_payglobe>
                <active>0</active>
                <model>codekunst_payglobe/payment_method_payglobe</model>
                <order_status>pending</order_status>
                <title>Payglobe</title>
                <allowspecific>0</allowspecific>
                <test>0</test>
                <debug>0</debug>
                <client_id></client_id>
                <client_secret></client_secret>
                <information_text></information_text>
            </codekunst_payglobe>
        </payment>
    </default>
</config>
