<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fortuneglobe_OptivoNewsletter>
            <version>0.1.0</version>
        </Fortuneglobe_OptivoNewsletter>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Fortuneglobe_OptivoNewsletter>
                    <files>
                        <default>Fortuneglobe_OptivoNewsletter.csv</default>
                    </files>
                </Fortuneglobe_OptivoNewsletter>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <fortuneglobe_optivonewsletter>
                <class>Fortuneglobe_OptivoNewsletter_Model</class>
            </fortuneglobe_optivonewsletter>
            <newsletter_resource>
                <rewrite>
                    <subscriber_collection>Fortuneglobe_OptivoNewsletter_Model_Mysql4_Subscriber_Collection</subscriber_collection>
                </rewrite>
            </newsletter_resource>
        </models>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <newsletterSubscriberChange>
                        <class>Fortuneglobe_OptivoNewsletter_Model_Observer</class>
                        <method>newslettersubscriberchange</method>
                    </newsletterSubscriberChange>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
        <blocks>
            <newsletter>
                <class>Fortuneglobe_OptivoNewsletter_Block</class>
            </newsletter>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Fortuneglobe_OptivoNewsletter_Adminhtml_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <fortuneglobe_optivonewsletter_setup>
                <setup>
                    <module>Fortuneglobe_OptivoNewsletter</module>
                    <class>Fortuneglobe_OptivoNewsletter_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fortuneglobe_optivonewsletter_setup>
            <fortuneglobe_optivonewsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fortuneglobe_optivonewsletter_write>
            <fortuneglobe_optivonewsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fortuneglobe_optivonewsletter_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <Fortuneglobe_OptivoNewsletter before="Mage_Newsletter">Fortuneglobe_OptivoNewsletter</Fortuneglobe_OptivoNewsletter>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
</config>
