<?xml version="1.0"?>
<config>
    <modules>
        <Fortuneglobe_CheckoutPopup>
            <version>0.7</version>
        </Fortuneglobe_CheckoutPopup>
    </modules>
    <frontend>
        <layout>
            <updates>
                <fortuneglobe_checkoutpopup>
                    <file>fortuneglobe_checkoutpopup.xml</file>
                </fortuneglobe_checkoutpopup>
            </updates>
        </layout>
        <routers>
            <ajaxpopup>
                <use>standard</use>
                <args>
                    <module>Fortuneglobe_CheckoutPopup</module>
                    <frontName>ajaxpopup</frontName>
                </args>
            </ajaxpopup>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fortuneglobe>
                                            <title>Fortuneglobe - All</title>
                                        </fortuneglobe>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <Fortuneglobe_CheckoutPopup>
                <class>Fortuneglobe_CheckoutPopup_Model</class>
            </Fortuneglobe_CheckoutPopup>
        </models>
        <helpers>
            <Fortuneglobe_CheckoutPopup>
                <class>Fortuneglobe_CheckoutPopup_Helper</class>
            </Fortuneglobe_CheckoutPopup>
        </helpers>
    </global>
</config>