<?xml version="1.0"?>
<config>
    <modules>
        <Mey_B2BCustomer>
            <version>0.1.6</version>
        </Mey_B2BCustomer>
    </modules>
    <global>
        <models>
            <mey_b2bcustomer>
                <class>Mey_B2BCustomer_Model</class>
            </mey_b2bcustomer>
        </models>
        <resources>
            <mey_b2bcustomer_setup>
                <setup>
                    <module>Mey_B2BCustomer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </mey_b2bcustomer_setup>
        </resources>
        <helpers>
            <mey_b2bcustomer>
                <class>Mey_B2BCustomer_Helper</class>
            </mey_b2bcustomer>
        </helpers>
    </global>
    <frontend>
        <events>
            <customer_address_save_after>
                <observers>
                    <mey_b2bcustomer>
                        <type>singleton</type>
                        <class>Mey_B2BCustomer_Model_Observer</class>
                        <method>propagateAddressToSubcustomers</method>
                    </mey_b2bcustomer>
                </observers>
            </customer_address_save_after>
        </events>
        <routers>
            <mey_b2bcustomer>
                <use>standard</use>
                <args>
                    <frontName>mey_b2bcustomer</frontName>
                    <module>Mey_B2BCustomer</module>
                </args>
            </mey_b2bcustomer>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <mey_b2bcustomer_apply_price_lists>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mey_b2bcustomer/applyPriceLists::applyPriceLists</model>
                </run>
            </mey_b2bcustomer_apply_price_lists>
            <mey_b2bcustomer_update_prices>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mey_b2bcustomer/applyPriceLists::updateExistingCustomers</model>
                </run>
            </mey_b2bcustomer_update_prices>
            <mey_b2bcustomer_update_blocked_state>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mey_b2bcustomer/customerStatus::updateCustomersBlockedState</model>
                </run>
            </mey_b2bcustomer_update_blocked_state>
        </jobs>
    </crontab>
</config>
