<?xml version="1.0"?>
<config>
    <modules>
        <Codekunst_Performance>
            <version>0.1.0</version>
        </Codekunst_Performance>
    </modules>
    <global>
        <models>
            <codekunst_performance>
                <class>Codekunst_Performance_Model</class>
            </codekunst_performance>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>Codekunst_Performance_Model_Resource_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
        </models>
        <blocks>
            <codekunst_performance>
                <class>Codekunst_Performance_Block</class>
            </codekunst_performance>
            <customer>
                <rewrite>
                    <form_login>Codekunst_Performance_Block_Form_Login</form_login>
                </rewrite>
            </customer>
        </blocks>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <codekunst_performance>
                        <type>singleton</type>
                        <class>Codekunst_Performance_Model_Observer</class>
                        <method>optimizeCmsBlocksCache</method>
                    </codekunst_performance>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <log>
                        <type>disabled</type>
                    </log>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <log>
                        <type>disabled</type>
                    </log>
                </observers>
            </controller_action_postdispatch>
            <customer_login>
                <observers>
                    <log>
                        <type>disabled</type>
                    </log>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <log>
                        <type>disabled</type>
                    </log>
                </observers>
            </customer_logout>
            <sales_quote_save_after>
                <observers>
                    <log>
                        <type>disabled</type>
                    </log>
                </observers>
            </sales_quote_save_after>
            <checkout_quote_destroy>
                <observers>
                    <log>
                        <type>disabled</type>
                    </log>
                </observers>
            </checkout_quote_destroy>
            <catalog_product_compare_remove_product>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </catalog_product_compare_remove_product>
            <customer_login>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </customer_logout>
            <catalog_controller_product_view>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </catalog_controller_product_view>
            <sendfriend_product>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </sendfriend_product>
            <catalog_product_compare_add_product>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </catalog_product_compare_add_product>
            <catalog_product_compare_item_collection_clear>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </catalog_product_compare_item_collection_clear>
            <sales_quote_item_save_before>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </sales_quote_item_save_before>
            <wishlist_add_product>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </wishlist_add_product>
            <wishlist_share>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </wishlist_share>
        </events>
    </frontend>
</config>
