<?xml version="1.0"?>
<config>
  <modules>
    <Root_Advancesitemap>
      <version>1.0.1</version>
    </Root_Advancesitemap>
  </modules>
  <frontend>
    <routers>
    	<advancesitemap>
        <use>standard</use>
        <args>
         <module>Root_Advancesitemap</module>
         <frontName>sitemap</frontName>
      	</args>
     	</advancesitemap>
   	</routers>
   	<layout>
			<updates>
				<advancesitemap>
					<file>root_advancesitemap.xml</file>
				</advancesitemap>
			</updates>
  	</layout>
	</frontend>
	<global>
  	<blocks>
    	<advancesitemap>
        <class>Root_Advancesitemap_Block</class>
      </advancesitemap>
    </blocks>
  	<helpers>
      <advancesitemap>
        <class>Root_Advancesitemap_Helper</class>
      </advancesitemap>
    </helpers>
  </global>
	<default>
		<advancesitemap>
			<rootsitemap>
				<activesitepages>1</activesitepages>
				<activecategories>1</activecategories>
				<activecontact>0</activecontact>					
			</rootsitemap>
		</advancesitemap>
	</default> 
	<adminhtml>
    <acl>
      <resources>        
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <advancesitemap>
                      <title>Advance Sitemap</title>
                    </advancesitemap>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config> 