<?xml version="1.0"?>
<config>
    <modules>
        <Mey_UrlRedirects>
            <version>0.1.1</version>
        </Mey_UrlRedirects>
    </modules>
    <global>
        <resources>
            <mey_urlredirects_setup>
                <setup>
                    <module>Mey_UrlRedirects</module>
                </setup>
            </mey_urlredirects_setup>
        </resources>
        <models>
            <mey_urlredirects>
                <class>Mey_UrlRedirects_Model</class>
            </mey_urlredirects>
            <catalog>
                <rewrite>
                    <url>Mey_UrlRedirects_Model_Catalog_Url</url>
                </rewrite>
            </catalog>
            <core>
                <rewrite>
                    <url_rewrite_request>Mey_UrlRedirects_Model_Url_Rewrite_Request</url_rewrite_request>
                    <url>Mey_UrlRedirects_Model_Url_Url</url>
                </rewrite>
            </core>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mey_urlredirects>
                        <class>mey_urlredirects/observer</class>
                        <method>redirectToProduct</method>
                        <type>singleton</type>
                    </mey_urlredirects>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
</config>
